body {
    color: white;
    font-family: "Nunito", serif;
    margin: 0;
    background-color: rgba(215, 215, 215, 0.712);
}

img {
   width: 160px;
   height: 170px;
   border-radius: 50%;

}

#container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.containerCard {
    min-width: 300px;
    height: max-content;
    background-color: rgb(47, 116, 190);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    justify-content: center;
    box-shadow: 0px 0px 30px 1px  black;
}

a {
    text-decoration: none;
    
}

h4 {
    width: 400px;
    height: 30px;
    border: 1px none;
    border-radius: 7px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(10, 37, 147);
    transition: 0.3s ease-in-out;

    
}

h2 {
    font-size: 30px;
}

h4:hover {
    background-color: rgb(7, 31, 130);
    color: white;
    cursor: pointer;
}